.diferencial{
    display: flex;
    margin-top: 4vw;
}

.text_dife{
    width: 50vw;
    display: flex;
    flex-direction: column;
    padding-top: 4vw;
}

.text_dife h2{
    font-family: NeueMachina;
    color: rgb(41, 41, 41);
    font-size: 3.2vw;
    margin-left: 1vw;
}

.text_dife p{
    width: 80%;
    font-family: Garet;
    margin-left: 1vw;
    font-size: 1.6vw;
    margin-top: .5vw;
}

.img_dife{
    width: 50vw;
    display: flex;
    justify-content: center;
}

.img_dife img{
    width: 32vw;
    height: 28vw;
    border-radius: 10px;
}