.divi{
    margin-top: 1.5vw;
    width: 100vw;
    height: 10vw;
    background-image: url(../image/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.divi2{
    margin-top: 1.5vw;
    width: 100vw;
    height: 10vw;
    background-image: url(../image/divisao.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}