.historia{
    display: flex;
    margin-top: 4vw;
}

.text_hist{
    width: 50vw;
    display: flex;
    flex-direction: column;
    padding-top: 4vw;
}

.text_hist h2{
    font-family: NeueMachina;
    color: rgb(41, 41, 41);
    font-size: 3.2vw;
    margin-left: 6.5vw;
}

.text_hist p{
    width: 80%;
    font-family: Garet;
    margin-left: 7vw;
    font-size: 1.6vw;
    margin-top: .5vw;
}

.img_hist{
    width: 50vw;
    display: flex;
    justify-content: center;
}

.img_hist img{
    width: 37vw;
    height: 33vw;
    border-radius: 10px;
}